[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/pyrepl"]
	path = vimfiles/bundle/pyrepl
	url = https://github.com/Bogdanp/pyrepl.vim.git
[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/vimcalc"]
	path = vimfiles/bundle/vimcalc
	url = https://github.com/gregsexton/VimCalc.git
[submodule "vimfiles/bundle/fuzzyfinder"]
	path = vimfiles/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vimfiles/bundle/l9"]
	path = vimfiles/bundle/l9
    url = https://github.com/vim-scripts/L9.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/xmledit"]
	path = vimfiles/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "vimfiles/bundle/largefile"]
	path = vimfiles/bundle/largefile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "vimfiles/bundle/vimdebug"]
	path = vimfiles/bundle/vimdebug
	url = https://github.com/kablamo/VimDebug.git
[submodule "vimfiles/bundle/dirdiff"]
	path = vimfiles/bundle/dirdiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
[submodule "vimfiles/bundle/repeat"]
	path = vimfiles/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/zencoding"]
	path = vimfiles/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vimfiles/bundle/vimbuddy"]
	path = vimfiles/bundle/vimbuddy
	url = https://github.com/vim-scripts/vimbuddy.vim.git
[submodule "vimfiles/bundle/xterm-color-table"]
	path = vimfiles/bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "vimfiles/bundle/recover"]
	path = vimfiles/bundle/recover
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "vimfiles/bundle/xptemplate"]
	path = vimfiles/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate-dist.git
[submodule "vimfiles/bundle/autocomplpop"]
	path = vimfiles/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
